{% block nav %}
    <ul>
        <li><a href="/lucky/number">Lucky Number</a></li>
        <li><a href="{{ path('lucky_limit') }}">Lucky Number with Limit</a></li>
        <li><a href="{{ path('lucky_list') }}">List Lucky Number</a></li>
    </ul>
    <ul>
        <li><a href="{{ path('jluct_blog_homepage') }}">Blog</a></li>
    </ul>
{% endblock %}