{% extends 'base.html.twig' %}
{% block body %}
    <h3>Your number is <span style="color: #ff0f32">{{ number }}</span></h3>
    <h4>Min <span style="color: #117379">{{ min }}</span></h4>
    <h4>Max <span style="color: #117379">{{ max }}</span></h4>
{% endblock %}