{% extends 'IasGameBundle::base.html.twig' %}

   {% block javascript %}
       {{ parent() }}
   {% endblock %}

{% block body %}
    <script>
        var $ias_scope = {
            game_id: {{ game }}
        };
    </script>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                {{ storage.getResources()|raw }}
            </div>
        </div>
    </div>
{% endblock %}




